* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Inter", sans-serif;
}

button {
  font-family: "Inter", sans-serif;
}

.container {
  width: 1050px;
  margin: 0 auto;
}
