/* main */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  row-gap: 30px;
  margin-top: 20px;
}

/* tickets */

.tickets-container {
  width: 65%;
}

.download-ticket-btn {
  background-color: #4e148c;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: 65%;
  padding: 10px 0;
  border: none;
  float: right;
  margin-top: -200px;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

/* categories */
.category {
  background-color: #e8ebf2;
  border-radius: 10px;
  padding: 19px;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.category__info {
  font-weight: 700;
  font-size: 20px;
  color: #4e148c;
  width: 100%;
  text-align: center;
  margin-bottom: 27px;
}

.category__list {
  font-weight: 500;
  font-size: 16px;
  color: #858ae3;
  list-style: none;
}

.category__list__wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-left: 40px;
  cursor: pointer;
}


.No-tickets{
  font-size: 28px;
  position: relative;
}